
{% extends 'basic.html' %}

{% block meta %}
    <script src="../static/js/cv.js"></script>
    <link rel="stylesheet" href="../static/css/cv.css">
{% endblock %}

{% block content %}

<body onload="greet();">


 <div id="GridConteiner">

        <div id="item2">
            <form id="form" action="">
                <h1 style="text-align: center;">contact me</h1>
                 <h3>fill form</h3>

                <label for="FName">Full Name</label><br>
                <input class="input" type="text" name="FName" ><br><br>

                <label for="Email">Email</label><br>
                <input class="input" type="text" name="Email" ><br><br>

                <label for="subject" class="label"> sunbect </label><br>
                <input class="input" name="subject" input type="subject" id="phone" ><br>
                <label for="pwd"> confirm Password</label><br>
                <input class="input" type="password" id="pwd" name="pwd" ><br><br>
                <input type="submit">
            </form>
        </div>

    </div>
    

</body>
{% endblock %}
