{% extends 'basic.html' %}
{% block title %}
assigment 9
{% endblock %}


{% block content %}
    {% if username %}
    <h1>Welcome back, {{ session.username }}</h1>
    <form action="/assignment9" method="GET">
        Search user: <input name="search" type="text">
    <input type="submit">
    </form>
    {% if search=="" %}

        <span>
                {% for u in users.values() %}
                    {% for k in u %}
                        <h3>{{ k }}: {{ u[k]}}</h3>
                    {% endfor %} <br>
                {% endfor %}
        </span>
    {% else %}
        {% for u in users.values() %}
            {% for k in u %}
                {% if search==u[k] %}
                    {% for i in u %}
                        <h3>{{ i }}: {{ u[i]}}</h3>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}
{% else %}
    <h1>Please Log in!</h1>
    <form action="/assignment9" method="POST">
        Username: <input name="username" type="text">
        Password:<input name="password" type="password">
    <input type="submit">
    </form>
{% endif %}
{% endblock%}