
{% extends 'basic.html' %}

{% block meta %}
    <script src="../static/js/cv.js"></script>
    <link rel="stylesheet" href="../static/css/newCV.css">
{% endblock %}

{% block content %}

         <div id="GridContainer">
            <div id="left">
                <center>
                    <h1> TUVALI RON CV </h1>
                    <h2> Industrial Engineering and
                        Management Student </h2>
                </center>
                <td>
                <h3> Contact</h3>
                <p> Phone: 0509344866 </p>
                <p> E-Mail: tuvaliron@gmail.com </p>
                <p> Linkedin: linkdin.com/in/Tuvali ron </p>
                <p> Beer Sheva</p>
                </td>
                <h3> Languages</h3>
                <p>Hebrew – Native Speaker</p>
                <p>English – Highly Proficient</p>
                <h3> Skill Highlights</h3>
                <p>    •	Excel</p>
                <p>    •	SQL</p>
                <p>    •	Java</p>


            </div>
             <div id="main">
                 <div id="sum">
                     <h3> Summary</h3>
                     <p id="summary">4th year student in Industrial Engineering and Management. Looking part-time job. </p>
                 </div>
                 <hr>
                 <div id="educ">
                     <h3> Eduction</h3>
                     <h4> BSc Industrial Engineering and Management | 4th Year </h4>
                     <p> Ben-Gurion University </p>
                     <p> Information Systems </p>
                 </div>
                 <hr>
                 <div id="pproject">
                     <h3>Personal Projects</h3>
                     <p>•BI project Modelling and implementing a BI model using SQL, R, Talend and Tableau.</p>
                     <p>•Web based information system Utilizing HTML, CSS, JS, Python and MySQL</p>
                     <p> •Java project Developed an object-oriented interactive system</p>
                 </div>
                 <hr>
                 <div id="idf">
                     <h3> IDF Service</h3>
                     <h4> 2011 - 2013 • Paratroopers Commando Unit (Sayeret Tzanhanim)</h4>
                     <p>•Several commanding positions, including Company staff sergeant as my last role.</p>
                     </div>
                 <hr>
                 <div id="experience">
                    <h3> Experience</h3>
                     <h4>2021 - Present • Computer Science Tutor</h4>
                     <p>•Freelancer, tutoring students in their 2nd year.</p>
                    <h4> 2011 - 2020 • Vice Manager</h4>
                     <p> In a family business specialized in construction materials. </p>
                   <h4>2017 • Account manager</h4>
                     <p> In a family business specialized in construction materials. </p>
                 </div>
             </div>
         </div>
{% endblock %}
