body{
    background-color:black;
}
#GridContainer {
    display: grid;
    grid-template-areas:
    'header header header'
    'left main main'
    'left main main';
}

#item1 {
    grid-area:header;
    width:100%;
    background-color: orange;
    height:33vh;
}

#item2 {
    grid area:left;
    width:100%;
    background-color:blue;
    height:66vh;
}

#item3 {
grid area:main;
    width:100%;
    background-color:red;
    height:66vh;
}

@media only screen and (max-width: 600px){
    body{
    background-color: yellow;
        }
#GridContainer {
    display: grid;
    grid-template-areas:
    'header '
    'left '
    'main';
    }
    }