{% extends 'basic.html' %}
{% block title %}assigment 10{% endblock %}

{% block content  %}
     <h1>users details</h1>
    <h2> Insert new user</h2>
    <form action="/insert_user" method="post"> <!--  post because dealing with passwords -->  <label for="name">First name:</label>
  <input type="text" id="name" name="name"><br>
  <label for="email">email:</label>
  <input type="email" id="email" name="email"><br>
    <label for="password">password:</label>
  <input type="password" id="password" name="password"><br>
        <input type="submit" value="Insert"> <!-- # value= what that will be written on the button -->
    </form>
<br>
    <h2>Users' List:</h2>
    {% for user in users %}
        <li>
            <form action="/delete_user" method="post" style="display: inline">
                <input type="hidden" name="id" value="{{ user.id }}">
                <input type="submit" value="Delete">
            </form>
            ID: {{ user.id }} &emsp;Name: {{ user.name }} &emsp;Email: {{ user.email }}
        </li>
    {% endfor %}
    <h2 id="userAction"></h2>
<br>
    <h2>Update User:</h2>
    <h2>update user details</h2>
    <form name="update" method="POST" action="/update">
        <input name="id" type="text" placeholder="enter user Id ">
        <input name="name" type="text" placeholder="change name">
        <input name="email" type="email" placeholder="change email">
        <input name="password" type="password" placeholder="change password">
        <input type="submit">
    </form>

{% endblock %}